header.header.background
  h1.logo
    a.logo-text(href="/")= title
  div.top_buttons_container
    button.large.button.blue.back_button.js-back_button Back
    button.large.button.green.add_fb_friend.js-add_fb_friend Add friend
    button.large.button.red.auth_button.js-auth_button ...