script.
  require[paths]={"main":"/vgen/js/modules/main-89f30c85771c","views/home":"/vgen/js/modules/views/home-208a2488f1ce","views/friend/add":"/vgen/js/modules/views/friend/add-cf00d27d8c25","views/login":"/vgen/js/modules/views/login-8c895c64cd37","views/friend/detail":"/vgen/js/modules/views/friend/detail-ffd3fdb8e0d3","views/test/page":"/vgen/js/modules/views/test/page-7601c3e130a3"};