form.add_extension_form(action="/api/friends", name="extension_form")
  h3 Add an extension
  div
    input(type="text",name="extension_name", placeholder="name")
  div
    input(type="text",name="extension_type", placeholder="type")
  div
    input(type="text",name="extension_content", placeholder="content")
  div
    input(type="submit")