h4 Add an extension
div.input_container
  input(type="text",name="extension_name", placeholder="name")
div.input_container
  input(type="text",name="extension_content", placeholder="content")
div.input_container
  input(type="text",name="extension_tags", placeholder="tags (comma separated: ex: yo, fun and magic)")
div.submit_container
  input(type="submit")