extends layout

block content
  h1= title
  p Welcome to #{title}
  button#auth_button(data-click="Main.fb_button") ...
  button#friends_button(data-click="Main.get_fb_friends") get FB friends
  div#profile_pics
