extends layout

block content
  h1= title
  button#auth_button(data-click="Main.fb_button") ...
  //- button#friends_button(data-click="Main.get_fb_friends") get FB friends
  button#friends_button2(data-click="Main.get_friends") get friends
  //- div#profile_pics
  div#friends_list
  div#add_friend_container(style="display: none;")
    form#add_friend.toto.titi(action="/friends", method="post")
      input(type="submit", value="Add friend")
