extends layout

block css
  link(rel='stylesheet', href='#{ressources.css.index}')
block js
  script.
    var require ={baseUrl: "/js/modules"};
  if env == 'production'
    include includes/prod-require-paths
  script(src="#{ressources.js.core}", data-main="main")
block content
  div#pages