extends layout

block css
  link(rel='stylesheet', href='css/gen/test.css')
block js
  script(src="js/require-jquery.js", data-main="js/modules/test")

block content
  div.viewport
    div.cube.clearfix
      div.front
        p= settings
        p= settings.env
        p= title
        p= FB_APP_ID
        | front asiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus diasiudhc aisu dchiuadsiuhc iashdi cuh asiudhciasud ciua sdiuc iaushdi uchaisud ciaus diuchasiduhc iaus di
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
      div.right
        | right
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
