@font-face
{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'),
    local('PlayfairDisplay'),
    url(/fonts/fairplay.woff) format('woff');
}


body
{
    background: #222 url(/images/asfalt.png) repeat 0 0;
    color: #eee;
    padding: 12px;
}

/********************* LOGO **********************/

.logo
{
    font-size: 3.6em;
    margin-top: 0;
    text-shadow: 2px 2px 0 rgba(0, 168, 255, 0.9);
    letter-spacing: -5px;
    font-family: 'Playfair Display', serif;
}

.logo a
{
    color: #fff;
    text-decoration: none;
}

/********************* HEADER BUTTONS **********************/

#top_buttons_container
{
    position: absolute;
    top: 47px;
    right: 20px;
}

#top_buttons_container .button
{
    margin-left: 8px;
}

#add_fb_friend
{
    float: left;
}

#auth_button
{
    float: left;
    display: none;
}

/********************* FRIEND CONTAINER **********************/

.fb_friend
{
    margin: 0 8px;
    padding: 16px 8px 16px 20px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid #333;
}

.fb_friend:hover,
.fb_friend.odd:hover,
.fb_friend.even:hover
{
    background: rgba(100, 100, 100, 0.3);
    cursor: pointer;
    border-left: 4px solid rgba(0, 190, 255, 0.7);
    padding-left: 16px;
}

.fb_friend .profile_pic
{
    display: inline-block;
    width: 50px;
}

.fb_friend .profile_pic img
{
    box-shadow: 0 0 2px #AAA;
    border-radius: 2px;
}

.fb_friend h3
{
    font-size: 1em;
}

.fb_friend .extensions
{
    text-indent: 20px;
}

.fb_friend.odd
{
    background: rgba(100, 100, 100, 0.1);
}
.fb_friend.even
{
    background: rgba(100, 100, 100, 0.17);
}

.fb_friend .name
{
    display: inline-block;
    margin-left: 20px;
    line-height: 50px;
}

.fb_friend .checkbox_container
{
    display: inline-block;
    margin-right: 12px;
}

/********************** FRIENDS EXTENDED LIST **************************/

#friends_list
{
    padding-bottom: 20px;
}

/*#friends_list:after
{
    content: '';
    display: block;
    height: 4px;
    background-color: rgba(168, 40, 97, 0.49);
    border-radius: 2px;
    margin: 35px 145px;
}*/

/********************** SEARCH FB FORM **************************/

#add_friend_form
{
    display: none;
}

#add_friend_form input[name="friend_name"]
{
    width: 80%;
    display: block;
    box-shadow: 0 0 2px white;
    margin: 12px auto;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #CCC;
    color: #333;
    font-size: 1.3em;
    text-indent: 8px;
}

#fb_search_results
{
    margin-top: 30px;
}

/************************* BUTTONS ***************************/

.button,
.button:visited
{
    background: #222 url(/images/overlay.png) repeat-x;
    border: none;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}
 
.button:hover
{
    background-color: #111;
    color: #fff;
}

.button:active
{
    top: 1px;
}

.small.button,
.small.button:visited
{
    font-size: 11px;
}

.button,
.button:visited,
.medium.button,
.medium.button:visited
{
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button,
.large.button:visited
{
    font-size: 14px;
    padding: 8px 14px 9px;
}
                                                  
.super.button, .super.button:visited
{
    font-size: 34px;
    padding: 8px 14px 9px;
}

.pink.button, .magenta.button:visited
{
    background-color: #e22092;
}
.pink.button:hover
{
    background-color: #c81e82;
}
.green.button, .green.button:visited
{
    background-color: #91bd09;
}
.green.button:hover
{
    background-color: #749a02;
}
.red.button, .red.button:visited
{
    background-color: #e62727;
}
.red.button:hover
{
    background-color: #cf2525;
}
.orange.button, .orange.button:visited
{
    background-color: #ff5c00;
}
.orange.button:hover
{
    background-color: #d45500;
}
.blue.button, .blue.button:visited
{
    background-color: #2981e4;
}
.blue.button:hover
{
    background-color: #2575cf;
}
.yellow.button, .yellow.button:visited
{
    background-color: #ffb515;
}
.yellow.button:hover
{
    background-color: #fc9200;
}