body
{
    background: #222;
    color: #eee;
}

.fb_friend
{
    margin: 0 8px;
    padding: 8px;
}

.fb_friend:hover
{
    background: rgba(8, 147, 212, 0.2);
}

.odd
{
    background: rgba(100, 100, 100, 0.1);
}
.even
{
    background: rgba(20, 20, 20, 0.3);
}

.name
{
    display: inline-block;
    margin-left: 12px;
}

.checkbox_container
{
    display: inline-block;
    margin-right: 12px;
}