- var fb_id = friend.fb_id, extensions_count = friend.extensions.length
div.profile_pic
  fb:profile-pic(size="square", uid="#{fb_id}", facebook-logo="true")
span.name=friend.name
div.extensions_count(title="#{extensions_count} extensions")=extensions_count
div.tools
  button.button.red.js-remove_fb_friend Remove
