$backgroundColor: #262D32;
$foregroundTextColor: #a3a3a3;
$logoColor: #6F7786;

.background
{
    background: $backgroundColor;
}

.foreground
{
    color: $foregroundTextColor;
}

.foreground:visited
{
    color: $foregroundTextColor;
}
