$backgroundColor: #151515;
$foregroundTextColor: #eee;
$logoColor: #fff;

.background
{
    background: $backgroundColor;
}

.foreground
{
    color: $foregroundTextColor;
}

.foreground:visited
{
    color: $foregroundTextColor;
}
