/********************* LIST STYLE **********************/

.list-item
{
    margin: 0 8px;
    padding: 16px 8px 16px 20px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px solid #333;
    position: relative;
    background: rgba(40, 40, 40, 0.6);
}

.list-item:hover
{
    background: rgba(100, 100, 100, 0.3);
    cursor: pointer;
    border-left: 4px solid rgba(0, 190, 255, 0.7);
    padding-left: 16px;
}

.list-item .tools
{
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: none;
}

.list-item:hover .tools
{
    display: block;
}

/********************* FRIEND CONTAINER **********************/

.fb_friend .profile_pic
{
    display: inline-block;
    width: 50px;
}

.fb_friend .profile_pic img
{
    box-shadow: 0 0 3px #AAA;
    border-radius: 30px; // 2px
}

.fb_friend h3
{
    font-size: 1em;
}

.fb_friend .extensions
{
    text-indent: 20px;
}

.fb_friend .name
{
    display: inline-block;
    margin-left: 20px;
    line-height: 50px;
}

.fb_friend .extensions_count
{
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0, 168, 255, 0.5);
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px 8px 2px 8px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.8;
}

/********************** FRIENDS EXTENDED LIST **************************/

#friends_list
{
    padding-bottom: 20px;
}

/*#friends_list:after
{
    content: '';
    display: block;
    height: 4px;
    background-color: rgba(168, 40, 97, 0.49);
    border-radius: 2px;
    margin: 35px 145px;
}*/

/********************** SEARCH FB FORM **************************/

#add_friend_form input[name="friend_name"]
{
    width: 80%;
    display: block;
    box-shadow: 0 0 2px white;
    margin: 12px auto;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #CCC;
    color: #333;
    font-size: 1.3em;
    text-indent: 8px;
}

#fb_search_results
{
    margin-top: 30px;
}

.profile_pic
{
    float: left;
    margin-right: 12px;
}

/********************** FRIEND DETAILS **************************/

#friend_details .extension
{
    margin: 8px 0;
}

.friend
{
    position: relative;
}

.friend .name
{
    margin-bottom: 0;
}

.extensions_sum
{
    text-indent: 4px;
}

.big_pic
{
    float: right;
    margin-left: 24px;
}

.big_pic img
{
    border-radius: 4px;
}

.add_extension_form
{
    padding-left: 40px;
}

.input_container,
.submit_container
{
    margin: 8px 0;
}

.input_container input
{
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 0 12px;
}

.submit_container input
{
    margin-left: 306px;
    margin-top: 12px;
}

.extensions
{
    list-style-type: none;
}

.extension_name
{
    
}

.extension_type
{
    
}

.extension_content
{

}